<beans>

    <bean id="userService" class="cn.kiki.springframework.aopTest.UserService"/>

    <bean class="cn.kiki.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.kiki.springframework.aopTest.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="cn.kiki.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cn.kiki.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.kiki.springframework.aopTest.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>